<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="css/estilos.css" rel="stylesheet" media="screen" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <title>Cadastro de Cliente</title>
    </h:head>
    <h:body>
        <h:form>
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="cliente.xhtml">Cliente</a>
                    <a class="navbar-brand" href="produto.xhtml">Produto</a>
                    <a class="navbar-brand" href="ordemServico.xhtml">Ordem Servico</a>
                    <a class="navbar-brand" href="ordemServicoProcessar.xhtml">Processar Ordem</a>
                    <a class="navbar-brand" href="ordemServicoEstornar.xhtml">Estornar Ordem</a>
                </div>
            </div>
            <h:messages globalOnly="true"></h:messages>
            <div class="container">
                <div class="panel panel-success">
                    <div class="panel-heading">Dados do Cliente</div>
                    <div class="panel-body">
                        <h:panelGroup id="dadosCliente">
                            <div class="div_campos">
                                Nome: <h:inputText class="form-control" style="height: 28px; width: 600px;" value="#{clienteController.cliente.nome}" />
                            </div>
                            <div class="div_campos">
                                CPF: <h:message for="campocpf"/>
                                <h:inputText id="campocpf" class="form-control" style="height: 28px; width: 600px;" value="#{clienteController.cliente.cpf}"  validator="cpfValidator" onchange="submit()" />
                            </div>
                            <div class="div_campos">
                                Telefone: <h:inputText class="form-control" style="height: 28px; width: 600px;" value="#{clienteController.cliente.numeroTelefone}" />
                            </div>
                            <div class="div_campos">
                                Celular: <h:inputText class="form-control" style="height: 28px; width: 600px;" value="#{clienteController.cliente.numeroCelular}" />
                            </div>
                            <div class="div_campos">
                                Email: <h:inputText class="form-control" style="height: 28px; width: 600px;" value="#{clienteController.cliente.email}" validator="emailValidator" />
                            </div>
                        </h:panelGroup>

                        <div>
                            <h:commandButton class="btn btn-default" value="Salvar" action="#{clienteController.salvar()}" style="width: 90px; margin-top: 10px">
                                <f:ajax execute="@all" render="dadosCliente listaClientes" />
                            </h:commandButton>
                            <h:commandButton class="btn btn-default" value="Novo" action="#{clienteController.novo()}" style="width: 90px; margin-top: 10px; margin-left: 10px">
                                <f:ajax execute="@all" render="dadosCliente listaClientes" />
                            </h:commandButton>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">Lista de Clientes</div>
                    <div class="panel-body">
                        <h:panelGroup id="listaClientes">
                            <h:dataTable class="table table-striped" value="#{clienteController.listaCliente}" var="listaClientes">
                                <h:column>
                                    <f:facet name="header">Código</f:facet>
                                    #{listaClientes.codCliente}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Nome</f:facet>
                                    #{listaClientes.nome}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">CPF</f:facet>
                                    #{listaClientes.cpf}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Telefone</f:facet>
                                    #{listaClientes.numeroTelefone}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Celular</f:facet>
                                    #{listaClientes.numeroCelular}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Email</f:facet>
                                    #{listaClientes.email}
                                </h:column>
                                <h:column>
                                    <h:commandButton value="Editar" action="#{clienteController.setCliente(listaClientes)}"/>
                                </h:column>
                                <h:column>
                                    <h:commandButton value="Excluir" action="#{clienteController.excluirCliente(listaClientes)}" />
                                </h:column>
                            </h:dataTable>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
        </h:form>
    </h:body>
</html>