<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="css/estilos.css" rel="stylesheet" media="screen" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <title>Cadastro de Ordem de Serviço</title>
    </h:head>
    <h:body>
        <h:form>
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="cliente.xhtml">Cliente</a>
                    <a class="navbar-brand" href="produto.xhtml">Produto</a>
                    <a class="navbar-brand" href="ordemServico.xhtml">Ordem Servico</a>
                    <a class="navbar-brand" href="ordemServicoProcessar.xhtml">Processar Ordem</a>
                    <a class="navbar-brand" href="ordemServicoEstornar.xhtml">Estornar Ordem</a>
                </div>
            </div>
            <div class="container">
                <div class="panel panel-success">
                    <div class="panel-heading">Dados da Ordem de Serviço</div>
                    <div class="panel-body">
                        <h:panelGroup id="dadosOrdem">
                            <div class="div_campos">
                                Descrição: <h:inputText class="form-control" style="height: 28px; width: 600px;" value="#{ordemServicoController.ordemServico.descricao}"/>
                            </div>

                            <div class="div_campos">
                                Cliente: <h:inputText class="form-control" style="height: 28px; width: 60px;" valueChangeListener="#{ordemServicoController.carregaCliente}" onchange="submit()" />
                                <span class="input-group-addon" id="nomeCliente">#{ordemServicoController.cliente.nome}</span>
                            </div>

                            <div class="div_campos">
                                Mão de Obra: <h:inputText class="form-control" style="height: 28px; width: 80px;" value="#{ordemServicoController.ordemServico.valorMaoObra}"/>
                            </div>

                            <div class="div_campos">
                                Produto: <h:inputText class="form-control" style="height: 28px; width: 60px;" valueChangeListener="#{ordemServicoController.carregaProduto}" onchange="submit()"/>
                                <span class="input-group-addon" id="descricaoProduto">#{ordemServicoController.produto.descricao}</span>
                            </div>
                        </h:panelGroup>

                        <div>
                            <h:commandButton class="btn btn-default" value="Adicionar" action="#{ordemServicoController.adicionaProduto}" style="width: 90px; margin-top: 10px" >
                                <f:ajax execute="@all" render="dadosOrdem listaProdutos"/>
                            </h:commandButton>
                        </div>

                        <div>
                            <div class="div_campos">
                                Total: <h:outputText class="form-control" style="height: 28px; width: 120px;" value="#{ordemServicoController.ordemServico.valorTotal}" />
                            </div>                            
                        </div>

                        <div>
                            <h:commandButton class="btn btn-default" value="Salvar" action="#{ordemServicoController.salvar}" style="width: 90px; margin-top: 10px" >
                                <f:ajax execute="@all" render="dadosOrdem listaProdutos"/>
                            </h:commandButton>
                            <h:commandButton class="btn btn-default" value="Novo" action="#{ordemServicoController.novo}" style="width: 90px; margin-top: 10px" >
                                <f:ajax execute="@all" render="dadosOrdem listaProdutos"/>
                            </h:commandButton>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">Produtos</div>
                    <div class="panel-body">
                        <h:panelGroup id="listaProdutos">
                            <h:dataTable class="table table-striped" value="#{ordemServicoController.listaProduto}" var="listaProduto">
                                <h:column>
                                    <f:facet name="header">Código</f:facet>
                                    #{listaProduto.codProduto}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Descrição</f:facet>
                                    #{listaProduto.descricao}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Valor</f:facet>
                                    #{listaProduto.valor}
                                </h:column>
                                <h:column>
                                    <h:commandButton value="Excluir" action="#{ordemServicoController.removeProduto(listaProduto)}" />
                                </h:column>
                            </h:dataTable>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
        </h:form>
    </h:body>
</html>