<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="css/estilos.css" rel="stylesheet" media="screen" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <title>Estorno de Ordem de Serviço</title>
    </h:head>
    <h:body>
        <h:form>
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="cliente.xhtml">Cliente</a>
                    <a class="navbar-brand" href="produto.xhtml">Produto</a>
                    <a class="navbar-brand" href="ordemServico.xhtml">Ordem Servico</a>
                    <a class="navbar-brand" href="ordemServicoProcessar.xhtml">Processar Ordem</a>
                    <a class="navbar-brand" href="ordemServicoEstornar.xhtml">Estornar Ordem</a>
                </div>
            </div>
            <div class="container">
                <div class="panel panel-success">
                    <div class="panel-heading">Ordem de Servico</div>
                    <div class="panel-body">
                        <h:panelGroup id="ordemServico">
                            <h:commandButton class="btn btn-default" value="Carregar Ordens" action="#{ordemServicoController.carregaOrdemServicoFechadoCancelado()}" />
                            <h:dataTable class="table table-striped" value="#{ordemServicoController.listaOrdemServico}" var="listaOrdem">
                                <h:column>
                                    <f:facet name="header">Código</f:facet>
                                    #{listaOrdem.codOrdemServico}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Descrição</f:facet>
                                    #{listaOrdem.descricao}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Valor Total</f:facet>
                                    #{listaOrdem.valorTotal}
                                </h:column>
                                <h:column>
                                    <h:commandButton value="Estornar" action="#{ordemServicoController.estornaOrdemServico(listaOrdem)}" />
                                </h:column>
                            </h:dataTable>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
        </h:form>
    </h:body>
</html>