<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="css/estilos.css" rel="stylesheet" media="screen" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <title>Cadastro de Produto</title>
    </h:head>
    <h:body>
        <h:form>
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="cliente.xhtml">Cliente</a>
                    <a class="navbar-brand" href="produto.xhtml">Produto</a>
                    <a class="navbar-brand" href="ordemServico.xhtml">Ordem Servico</a>
                    <a class="navbar-brand" href="ordemServicoProcessar.xhtml">Processar Ordem</a>
                    <a class="navbar-brand" href="ordemServicoEstornar.xhtml">Estornar Ordem</a>
                </div>
            </div>
            <div class="container">
                <div class="panel panel-success">
                    <div class="panel-heading">Dados do Produto</div>
                    <div class="panel-body">
                        <h:panelGroup id="dadosProduto">
                            <div class="div_campos">
                                Descrição: <h:inputText class="form-control" style="height: 28px; width: 600px;" value="#{produtoController.produto.descricao}"/>
                            </div>
                            <div class="div_campos">
                                Valor: <h:inputText class="form-control" style="height: 28px; width: 600px;" value="#{produtoController.produto.valor}"/>
                            </div>
                        </h:panelGroup>

                        <div>
                            <h:commandButton class="btn btn-default" value="Salvar" action="#{produtoController.salvar()}" style="width: 90px; margin-top: 10px" >
                                <f:ajax execute="@all" render="dadosProduto listaProduto"/>
                            </h:commandButton>
                            <h:commandButton class="btn btn-default" value="Novo" action="#{produtoController.novo()}" style="width: 90px; margin-top: 10px" >
                                <f:ajax execute="@all" render="dadosProduto"/>
                            </h:commandButton>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">Lista de Produto</div>
                    <div class="panel-body">
                        <h:panelGroup id="listaProduto">
                            <h:dataTable class="table table-striped" value="#{produtoController.listaProduto}" var="listaProduto">
                                <h:column>
                                    <f:facet name="header">Código</f:facet>
                                    #{listaProduto.codProduto}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Descrição</f:facet>
                                    #{listaProduto.descricao}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Valor</f:facet>
                                    #{listaProduto.valor}
                                </h:column>
                                <h:column>
                                    <h:commandButton value="Editar" action="#{produtoController.setProduto(listaProduto)}"/>
                                </h:column>
                                <h:column>
                                    <h:commandButton value="Excluir" action="#{produtoController.excluirProduto(listaProduto)}" />
                                </h:column>
                            </h:dataTable>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
        </h:form>
    </h:body>
</html>

